@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800;900&display=swap);
.color{
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    text-align: center;
}
* {
  font-family: "Spartan", sans-serif !important;
}
:root,
body {
  font-family: "Spartan", sans-serif !important;
}

.regular {
  font-weight: normal;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.extrabold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.button {
    background-color: white;
    border: 0;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    border-radius: 2px;
    padding: 4px 10px;
    font-family: inherit !important;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.button:hover {
    background-color: rgba(236, 224, 253, 0.455);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    cursor: pointer;
}

.button:focus {
    background-color: rgb(236, 224, 253);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    cursor: pointer;
}

.button:disabled {
    color: lightgray !important;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    background-color: white !important;
    cursor: auto;
    cursor: initial;
}

.outlined {
    border: 1.5px solid;
}

.contained {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    box-shadow: 1px 2px 3px gray;
}

.contained:focus {
    background-color: #0E3192 !important;
    box-shadow: 0px 0px 1px gray;
}

.contained:hover {
    background-color: #0E3192 !important;
}

.contained:disabled {
    color: lightgray !important;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    background-color: white !important;
    cursor: auto;
    cursor: initial;
    box-shadow: 0px 0px 0px gray;
}
.blocks-mobile {
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0.5em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

.block-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    border-top: 0 !important;
    border-left: 0  !important;
    border-right: 0  !important;
    padding:  2em 0;
    width: 100%;
}

.block-item .block-item-img{
    cursor: pointer;
}

.block-item:last-child {
    border-bottom: 0px  !important;
}

.block-content{
    text-align: center !important;
}

.block-mobile-button{
    padding:  1em 0;
}


/* @media (max-width: 500px) {
    .block-content{
        display: none;
    }
} */
.blocks {
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0.5em;
}

.block-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-evenly;
            justify-content: space-evenly;
    border-top: 0 !important;
    border-left: 0  !important;
    border-right: 0  !important;
}

.block-item:last-child {
    border-bottom: 0px  !important;
}

.blocks h3,
.blocks p {
    text-align: left;
    margin: 2em 1em;
}

/* @media (max-width: 500px) {
    .block-content{
        display: none;
    }
} */
.primary,
.primary-1 {
    background-color: #32779D !important;
    color: white !important;
}

.primary-2 {
    background-color: #0670B0 !important;
    color: white !important;
}

.primary-3 {
    background-color: #13007C !important;
    color: white !important;
}

.primary-3-border {
    border: 2px solid #13007C  !important;
}

.primary-text {
    color: #13007C !important;
}

.primary-4 {
    background-color: #0E3192 !important;
    color: white !important;
}

.primary-5 {
    background-color: #ADADAD !important;
    color: white !important;
}

.primary-6 {
    background-color: #89A0AC !important;
    color: white !important;
}

.secundary,
.secundary-1,
.secundary-1-1 {
    background-color: #2C6882 !important;
    color: white !important;
}

.secundary-1-2 {
    background-color: #1D424F !important;
    color: white !important;
}

.secundary-1-3 {
    background-color: #132C33 !important;
    color: white !important;
}

.secundary-2,
.secundary-2-1 {
    background-color: #0A8BCC !important;
    color: white !important;
}

.secundary-2-2 {
    background-color: #11B0EF !important;
    color: white !important;
}

.secundary-2-3 {
    background-color: #00C3FF !important;
    color: white !important;
}

.secundary-3,
.secundary-3-1 {
    background-color: #1302AF !important;
    color: white !important;
}

.secundary-3-2 {
    background-color: #0D03D8 !important;
    color: white !important;
}

.secundary-3-3 {
    background-color: #0000FF !important;
    color: white !important;
}

.secundary-4,
.secundary-4-1 {
    background-color: #103077 !important;
    color: white !important;
}

.secundary-4-2 {
    background-color: #0D2754 !important;
    color: white !important;
}

.secundary-4-3 {
    background-color: #091C38 !important;
    color: white !important;
}

.secundary-5,
.secundary-5-1 {
    background-color: #828282 !important;
    color: white !important;
}

.secundary-5-2 {
    background-color: #636363 !important;
    color: white !important;
}

.secundary-5-3 {
    background-color: #494949 !important;
    color: white !important;
}

.secundary-6,
.secundary-6-1 {
    background-color: #9EBAC6 !important;
    color: white !important;
}

.secundary-6-2 {
    background-color: #BAD7E2 !important;
    color: white !important;
}

.secundary-6-3 {
    background-color: #CFF4FF !important;
    color: white !important;
}
.dropdown {
  width: 50%;
  height: 4rem;
  min-width: 100px;
  box-shadow: 0px 2px 4px rgb(150, 150, 150);
  border-radius: 5px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
.contaier-text-dropdown {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding-left: 1.2rem;
}
.dropButton {
  width: 4.7rem;
  height: 85%;
  border: 0px solid #00b4cc;
  border-left: 2.5px solid #035a7073;
  background: #ffffff;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.options {
  width: 70%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  padding: 1rem 4rem 2rem 4rem;
  box-sizing: border-box;
  font-size: 1rem;
  border-top: 2.5px solid #035a7073;
  box-shadow: 0px 2px 4px rgb(150, 150, 150);
  border-radius: 0px 0px 5px 5px;
}
.row-option {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  border-bottom: 2.5px solid #035a7073;
  cursor: pointer;
}
.dropdown-selected {
  width: 50%;
  height: 4rem;
  min-width: 100px;
  box-shadow: 0px 2px 4px rgb(150, 150, 150);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}



.image-caption {
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0.5em;
}



.image-caption-content{
    padding: 1em;
    text-align: left;
}


.image-top {
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0.5em;
}


.image-top-header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 0 0.5em;
    -webkit-align-items: center;
            align-items: center;
}

.image-top-header-header{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
}

.image-top-header-content{
    text-align: left;
}

.image-top-header-content-headline{
    font-weight: bold;
}

.image-top-button{
    margin: 0.5em;
    padding-bottom: 0.8em;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.center {
  text-align: center;
}

.flex>.color {
  -webkit-flex: 0 0 20%;
          flex: 0 0 20%;
  height: -webkit-min-content;
  height: min-content;
}

.dir {
  -webkit-flex-direction: column;
          flex-direction: column;
}


.listicon>div {
  -webkit-flex: 0 0 10%;
          flex: 0 0 10%;
  margin: 1em 2em;
}

.listbuttons {
  margin-top: 1em;
}

.listbuttons>div {
  -webkit-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-bottom: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

.margin-0 {
  margin: 0;
}

.lisths>h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 1em;
}
.navbar {
  width: 80%;
  height: 4rem;
  min-width: 100px;
  box-shadow: 0px 2px 4px rgb(150, 150, 150);
  border-radius: 5px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
.container-logo {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  height: 100%;
}
.logo {
  margin-right: 2rem;
  width: 2.5rem;
  margin-top: 0.3rem;
  margin-left: 3rem;
}
.container-logo div:last-child {
  font-size: 0.9rem;
}
.line-nav {
  height: 45%;
  border-left: 2px solid rgb(116, 116, 116);
  margin-right: 1.2rem;
}
.container-links {
  /* background-color: aquamarine; */
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
}
.link-nav {
  margin-right: 3rem;
  font-size: 0.9rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  /* margin-left: auto; */
}
.action {
  /* background-color: bisque; */
  margin-right: 3rem;
  /* margin-left: auto; */
}

.search {
  /* position: relative; */
  /* width: 20%; */
  height: 2rem;
  min-width: 80px;
  box-shadow: 0px 2px 4px rgb(150, 150, 150);
  border-radius: 5px;
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.search input {
  width: 100%;
  border: none;
  border-right: none;
  padding: 0px 10px 0px 13px;
  height: 100%;
  
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 0.9rem;
}

.searchButton {
  width: 4rem;
  height: 85%;
  border: 0px solid #00b4cc;
  border-left: 2.5px solid #035a7073; 
  background: #ffffff;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 0.2rem;
}

.size-modifier{
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.1em 0em;
}

.text-modifier{
    text-align: left;
    text-align: initial;
    margin: 0 1em;
}


.size-modifier-button{
    margin: 1em;
}

/*# sourceMappingURL=main.74f119a6.chunk.css.map*/